<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profiler Report</title>
    <link href='/assets/css/style.css' rel='stylesheet' type='text/css'/>
    <link href='/assets/jquery/jquery.tooltip.css' rel='stylesheet' type='text/css'/>
    <link href='/assets/jquery/jquery.autocomplete.css' rel='stylesheet' type='text/css'/>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% block body %}
<div class="container">
    {% block container %}
        {% block breadcrumb %}
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        {% block breadcrumb_items %}
                            <li><a href="{{ url('runs_list') }}">Runs</a></li>
                        {% endblock %}
                    </ol>
                </div>
            </div>
        {% endblock %}
        {{ body|raw }}
    {% endblock %}
</div>
{% endblock %}
{% block scripts %}
{#<script src='/vendor/components/jquery/jquery.min.js'></script>#}
{#<script src='/assets/jquery/jquery.tooltip.js'></script>#}
{#<script src='/assets/jquery/jquery.autocomplete.js'></script>#}
{#<script src='/assets/js/uprofiler_report.js'></script>#}
{% endblock %}
</body>
</html>