<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Profiler Report</title>
    <link href='/assets/css/uprofiler.css' rel='stylesheet' type='text/css'/>
    <link href='/assets/jquery/jquery.tooltip.css' rel='stylesheet' type='text/css'/>
    <link href='/assets/jquery/jquery.autocomplete.css' rel='stylesheet' type='text/css'/>
</head>
<body>
{% block body %}
    {{ body|raw }}
{% endblock %}
<script src='/assets/jquery/jquery-1.2.6.js'></script>
<script src='/assets/jquery/jquery.tooltip.js'></script>
<script src='/assets/jquery/jquery.autocomplete.js'></script>
<script src='/assets/js/uprofiler_report.js'></script>
</body>
</html>